{%load static%}
<!DOCTYPE html>
<html lang="en">
<ul>
    <li><a href="Sign_up.html">Sign_up</a></li>
    <li><a href="admin_login.html">Admin_login</a></li>
    <li><a>About</a></li>
    <li><a>Contact_us</a></li>



</ul>

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">

</head>
<body>

    <div class="login-box">
        <img src="{%static 'C:\Users\Mongoose28\Documents\GitHub\Online_TO-DO_list\TODO_list\static\logo.png'%}" class="avatar">
        <h1>Login</h1>
        <form method="POST" id="login-box" action="">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="m1" placeholder="Username">
            <p>Password</p>
            <input type="password" name="m2" placeholder="Password">
            <input type="submit" name="" value="Login">
            <a href="#">Forget password</a>

        </form>



    </div>

</body>
</html>
